doctype html
html(lang="id")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="Aplikasi Kecerdasan Buatan sederhana untuk Golongan Darah berdasarkan sifat dengan menggunakan metode pohon pakar")
		meta(name="author",content="Fadhiil Rachman")
		link(rel="icon",href="/assets/images/favicon.ico")
		title= page_title
		block styles
			link(rel="stylesheet",href="/assets/bootstrap/dist/css/bootstrap.min.css")
	body
		block body
			
		block scripts
			script(src="/assets/jquery/dist/js/jquery-3.2.1.min.js")
			script(src="/assets/bootstrap/dist/js/bootstrap.min.js")
			script(src="/assets/js/app.js")